:root {
  --ion-color-primary: #8ebf25;
  --ion-color-primary-rgb: 142, 191, 37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: f, f, f;
  --ion-color-primary-shade: #7da821;
  --ion-color-primary-tint: #99c53b;

  --ion-color-secondary: #41aed9;
  --ion-color-secondary-rgb: 65, 174, 217;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: f, f, f;
  --ion-color-secondary-shade: #3999bf;
  --ion-color-secondary-tint: #54b6dd;

  --ion-color-tertiary: #6cbdbf;
  --ion-color-tertiary-rgb: 108, 189, 191;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5fa6a8;
  --ion-color-tertiary-tint: #7bc4c5;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #707070;
  --ion-color-success-contrast-rgb: 112,112,112;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #707070;
  --ion-color-warning-contrast-rgb: 112,112,112;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ed6d84;
  --ion-color-danger-rgb: 237, 109, 132;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d16074;
  --ion-color-danger-tint: #ef7c90;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #707070;
  --ion-color-light-contrast-rgb: 112,112,112;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-medium: #d8d8d8;
  --ion-color-medium-rgb: 216, 216, 216;
  --ion-color-medium-contrast: #707070;
  --ion-color-medium-contrast-rgb:112,112,112;
  --ion-color-medium-shade: #bebebe;
  --ion-color-medium-tint: #dcdcdc;

  --ion-color-dark: #707070;
  --ion-color-dark-rgb: 112, 112, 112;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #636363;
  --ion-color-dark-tint: #7e7e7e;

  --ion-font-family: "Poppins", "Helvetica Neue", sans-serif;

  --ion-backdrop-color: #cccccc;
  --ion-text-color: #707070;
  --ion-item-background: transparent;
}

/* Custom ready classes */
.no-underline{
  text-decoration: none!important;
}

.login-heading{
  font-size: 20px;
  color: var(--ion-color-dark);
}
.text-small{
  font-size: 14px;
}
.text-medium {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}
.box-shadow {
  box-shadow: #00000029 0 0 4px;
}
.curved {
  border-radius: 25px;
}
.small-padding{
  padding: .5em 1em !important;
}
.text-smaller {
  font-size: 12px;
}
/*Global Styles*/

.fab-overlay {
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  background:#ffffff00;
  bottom:56px;
  transition: .5s ease;
}
.fab-overlay.fab-opened {
  background:#ffffffcc;
  z-index:101;
}
ion-backdrop {
  opacity: 0.5;
  background: var(--ion-color-dark);
}
/*Main Menu Styles*/
ion-menu .tab-selected{
  background:var( --ion-color-primary-tint);
  color:var( --ion-color-primary-contrast);
  
}

ion-menu ion-tab-button{
 transition: .4s ease;
 border-radius: 25px;
}

/* Login page styles */

.login-page .login-circle-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 120px !important;
}
.login-page .login-circle-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width: 190px !important;
}

/* Invoices page styles */

.archive-search ion-icon {
  left: auto !important;
  right: 10px !important;
}
.archive-search .searchbar-input {
  padding: 6px 40px 6px 20px;
  box-shadow: none;
  border: 1px solid var(--ion-color-primary);
  border-radius: 50px;
} 

/* Edit Profile Page */
.edit-profile-page .profile-image {
  border: 5px solid var(--ion-color-primary);
}

ion-card#open-custom-dialog{
  box-shadow: 0px 0px 4px #00000029;
  border-radius: 25px;
}

.custom-modal .modal-wrapper{
  width: 80%;
  max-width: 350px;
  margin: auto;
  border-radius: 10px;
  max-height: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.custom-modal {
  --width: 80%;
  --max-width: 350px;
  --margin: auto;
  --border-radius: 10px;
  --height: fit-content;
  --padding: 50px;
  --box-sizing: border-box;
  --box-shadow: 0px 0px 4px #00000029;
}
.popup-info-header{
  padding-bottom: 0;
}
.popup-info-desc{
  padding-top: 0;
}
.popup-info-header p{
  margin-top: .2em;
}
.popup-info-header h6{
  margin-bottom: .2em;
}
.popup-info-desc p {
  margin: 0;
  font-weight: 400;
  color: var(--ion-color-medium);
}